<footer mb-4rem>
  <p mt-4 text-xs>
  </p>
  <p mt-4 text-xs><a op-30 hover:op-60 w-fit transition-opacity flex items-center href="mailto:admin@muspimerol.site?subject=❗Site Error Report&body=chat.bnu120.space网站不能正常使用">如遇网站不可用，请联系我，谢谢<span i-line-md-email-twotone-alt mx-1></span>admin@muspimerol.site</a></p>
</footer>
